<div style="width:200px; height:50px; background:red;">Contact Info</div>
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83383.116666505!2d-122.96297729115072!3d49.224791596132135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548679a139b015c7%3A0x5c3dd6b71bf3e54d!2sCLC%20Centre!5e0!3m2!1sko!2sca!4v1614931972346!5m2!1sko!2sca" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
     <table align="center">
    <tr>
        Contact Info
        <br>
        <p>smilekids.adm@gmail.com</p>
        Call us +1 250 884 4126
        <br>
    </tr>
    <tr>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83383.116666505!2d-122.96297729115072!3d49.224791596132135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548679a139b015c7%3A0x5c3dd6b71bf3e54d!2sCLC%20Centre!5e0!3m2!1sko!2sca!4v1614931972346!5m2!1sko!2sca" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </tr>
    <tr>
        Contact Info
        <br>
        <p>smilekids.adm@gmail.com</p>
        Call us +1 250 884 4126
        <br>
    </tr>
    <tr>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83383.116666505!2d-122.96297729115072!3d49.224791596132135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548679a139b015c7%3A0x5c3dd6b71bf3e54d!2sCLC%20Centre!5e0!3m2!1sko!2sca!4v1614931972346!5m2!1sko!2sca" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </tr>

</table>
<section class="bg-light page-section" id="{{ site.data.sitetext.contact.section | default: "contact" }}">
    <div class="typeform-widget" data-url="https://form.typeform.com/to/P46qj3u9?typeform-medium=embed-snippet" style="width: 100%; height: 450px;"></div>
    <script>(function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })()</script>
</section>
